* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';

}

body{
   
    background-image: url(/img/barbershop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.container{
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}

.logo a{
    color: #fff; 
    text-decoration: none;

}

.nav {
    display: flex;
    padding: 22px 22px;
    list-style: none;


}

.nav li a {
    color: #fff;
    padding: 12px 22px;
    text-decoration: none;

}



.nav li a:hover{
    background-color: burlywood;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}



h1{
    font-family: 'Barlow Semi Condensed';font-size: 22px;
}

/* .logo h2 { 
    margin-right: 50px;
    padding-top: 17px;
    */

